body {
  font-family: 'Open Sans Condensed', sans-serif;
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 1fr 2fr;
 /* grid-template-rows: 1fr 1fr 1fr;*/
  justify-content: space-around;
  padding: 20px;
  line-height: 1.5em;

}

header {
  grid-area: header;/*
  background-image: url(swedish-cookie.jpg);*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: 250px;
  width: 100%;
  border-bottom: dotted 5px black;
  padding-bottom: 10px;
}

.subheading {
  font-size: 35px;
  font-family: 'Spirax', cursive;
  color: #ab3028;
  padding: 10px 0px 0px 0px;
}

main {
  grid-area: main;
  padding-right: 10px;
}

aside {
  grid-area: aside;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3px;

}

img {
  height: 250px;
  width: 250px;
}

li{
  font-size: 25px;
}

h1 {
  font-size: 12.5em;
  font-family: 'Spirax', cursive;
  color: #ab3028;
  padding-bottom: 15px;
}

h2 {
  font-size: 45px;
  color: #946a31;
  padding: 10px 0px;
}

h3 {
  font-size: 30px;
  font-family: 'Spirax', cursive;
  padding: 5px;
}

p {
  font-size: 20px;
  padding-bottom: 15px;
}

.fab {
  font-size: .8em;
  padding-right: 5px;
}

footer{
  grid-area: footer;
  padding-top: 10px;
}